<section class="about-container">
    <div class="img-container">
        <img src="profile-picture.webp" alt="">
    </div>
    <div class="about-text">
        <h1>Hi, it's Flávia 👋</h1>
        <p>
            Flávia graduated with an MA from the Faculty of Fine Arts in Lisbon and an MBA from the Business School of
            Barcelona. She has worked in several top companies, museums and organizations across Europe, and has
            recently embraced an opportunity at Siemens Energy. With 7 years of experience under her belt, she has a
            well-rounded skill set in management & communications and is mastering leading with empathy and compassion.
        </p>

        <div class="about-actions">
            <a href="https://www.dropbox.com/scl/fi/ws91eo7hn7e91sacaqw3n/FLAVIA-SILVA.pdf?rlkey=xfqle8v7461xrd2rj8kqsqee5&dl=0" target="_blank">
                <fa-icon [icon]="faFilePdf"></fa-icon>
            </a>
            <a href="https://twitter.com/FlaviaLiaSilva" target="_blank">
                <fa-icon [icon]="faXTwitter"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/flavialiasilva/" target="_blank">
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a href="https://zcal.co/flavialiasilva" target="_blank">
                <fa-icon [icon]="faCalendar"></fa-icon>
            </a>
        </div>
    </div>
</section>