.about-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .about-container {
        flex-direction: row;
    }
}

.img-container {
    width: 185px;
    min-width: 185px;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-text {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-shadow: none;
    }
}

.about-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;

    a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .about-actions {
        justify-content: flex-start;
        gap: 30px;
    }
}