<section class="project-overview-container">
    <div class="img-container">
        <img [src]="project.image" [alt]="project.title">
    </div>
    <div class="project-overview-text">
        <span class="project-overview-position">
            {{ project.position }}
        </span>

        <h2>
            {{ project.title }}
        </h2>

        <p>
            {{ project.description }}
        </p>

        <button class="project-overview-button">
            View Project
        </button>
    </div>
</section>