<section class="project-overview-container">
    <div class="img-container">
        <img src="project-1.webp" alt="">
    </div>
    <div class="project-overview-text">
        <span class="project-overview-position">
            Program Management | Team Leader
        </span>
    
        <h2>
            Siemens Energy - Prime Opportunity & E2A Accelerator
        </h2>
        
        <p>
            Integration of two solutions/products with the rest of the Sales Department Projects. 
        </p>

        <button class="project-overview-button">
            View Project
        </button>
    </div>
</section>