.home-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home-projects {
    background-color: #FAFAFA;

    .project-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}